<!doctype html>
<html lang="ru">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <meta name="description" content="Сайт для поиска фильмов по цитате из них.">
    <meta property="og:title" content="FilmFinder - сервис для поиска фильмов" />
    <meta property="og:description" content="Данный сервис позволяет найти фильм по фразе из него. Используется база данных более 500 фильмов и 600 тысяч строк текста" />
    <meta property="og:url" content="https://filmfinder.ru/"/>
    <meta property="og:site_name" content="filmfinder.ru"/>
    <meta property="og:image" content="https://i.imgur.com/mxmIXHC.png" />
    <meta property="og:image:width" content="1000" />
    <meta property="og:image:height" content="1000" />
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    {% block body %}{% endblock %}
</body>
</html>