{% extends 'base.html' %}
{% block title %}
Логин | FilmFinder
{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}
{% block body %}
<div class="container">
<main class="form-signin text-center">
  <form method="post" id="login">
    <div class="row justify-content-center d-flex align-items-center mt-login">
      <div class="col-md-6 align-self-center">
        <p class="fs-1 fw-bold">Вход:</p>
    <div class="alert alert-danger" role="alert" id="errAlert" style="display:none;">
      Проверьте правильность введенного логина или зарегистрируйтесь.
    </div>
    <div  class="interval"></div>
    {% if error == 2 %}
    <div class="alert alert-danger" role="alert">
      Проверьте правильность введенного пароля или зарегистрируйтесь.
    </div>
    <div  class="interval"></div>
    {% endif %}

    {% if error == 3 %}
    <div class="alert alert-danger" role="alert">
      Чтобы просматривать эту страницу необходима авторизация(
    </div>
    <div  class="interval"></div>
    {% endif %}

    {% if error == 4 %}
    <div class="alert alert-danger" role="alert">
      Время вашей сессии истекло. Снова пройдите авторизацию.
    </div>
    <div  class="interval"></div>
    {% endif %}

    {% if error == 123 %}
    <div class="alert alert-danger" role="alert">
      Произошла непредвиденная ошибка. Попробуйте авторизоваться заново.
    </div>
    <div  class="interval"></div>
    {% endif %}
        <div id="alert" class="alert alert-primary" role="alert" style="display:none;">
          Проверочный код уже отправлен вам <a href="https://t.me/film_finder_robot" class="alert-link">нашим ботом</a>.
      </div>
        <div class="form-floating" id="log">
          <input type="text" class="form-control" id="floatingInput" name="login" placeholder=" ">
          <label for="floatingInput">Логин</label>
          <div class="tab"></div>
        </div>
      <div class="space-sm"></div>
        <div class="form-floating" id="password">
          <input type="password" class="form-control" id="floatingPassword" name="password" placeholder=" ">
          <label for="floatingPassword">Пароль</label>
        </div>
        <div class="space-sm"></div>
        <div class="form-floating" id="code" style="display:none;">
          <input type="text" class="form-control" id="floatingCode" name="code" placeholder=" ">
          <label for="floatingPassword">Код из телеграмма</label>
        </div>
        <div class="tab"></div>
        <div class="form-floating">
        <button class="w-100 btn btn-lg btn-primary" type="submit">Вход</button>
        </div>
        </div>
      <div class="tab"></div>
  </div>
  </form>
      <div class="space-sm"></div>
    <div class="row justify-content-center">
      <div class="col-md-6 my-auto align-self-center ">
        <form action="/register">
        <div class="form-floating" >
    <input type="submit"  class="w-100 btn btn-lg btn-outline-secondary" value="Регистрация"/>
    </div>
        </form>
                <div class="space-sm"></div>
      <form action="/">
        <div class="form-floating" >
    <input type="submit"  class="w-100 btn btn-lg btn-outline-secondary" value="Режим без авторизации"/>
    </div>
        </form>
      </div>
    </div>
</main>
</div>

{% endblock %}