{% extends 'base.html' %}
{% block title %}
Регистрация
{% endblock %}
{% block body %}
<div class="container mt-5">
  <form method="post">
    <h1>Регистрация:</h1>
    {% if error == 1 %}
    <div class="error-class">
      <h3 class="error-text-2">Выбранный вами логин занят!</h3>
    </div>
    <div  class="interval"></div>
    {% endif %}
    {% if error == 2 %}
    <div class="error-class">
      <h3 class="error-text-2">Длина пароля должна быть не менее 8 символов!</h3>
    </div>
    <div  class="interval"></div>
    {% endif %}

    {% if error == 3 %}
    <div class="error-class">
      <h3 class="error-text-2">Пароли не совпадают!</h3>
    </div>
    <div  class="interval"></div>
    {% endif %}

    {% if error == 4 %}
    <div class="error-class">
      <h3 class="error-text">С вашего устройства уже был зарегистрирован аккаунт. Войдите в него.</h3>
    </div>
    <div  class="interval"></div>
    {% endif %}

    {% if error == 123 %}
    <div class="error-class">
      <h3 class="error-text">Произошла непридвиденная ошибка.<br>Попробуйте авторизоваться заново.</h3>
    </div>
    <div  class="interval"></div>
    {% endif %}
    <div class="form-floating" >
      <input type="text" class="form-control" name="login" id="floatingInput" placeholder="example">
      <label for="floatingInput" class="floating">Логин</label>
    </div>
    <div  class="interval"></div>
    <div class="form-floating">
      <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Ваш пароль">
      <label for="floatingPassword" class="floating">Пароль</label>
    </div>
    <div  class="interval"></div>
    <div class="form-floating">
      <input type="password" class="form-control" name="password-2" id="anotherPassword" placeholder="Повторите пароль">
      <label for="floatingPassword" class="floating">Пароль, еще раз</label>
    </div>
    <div  class="interval"></div>
    <div class="form-floating"><button class="btn-enter" type="submit">Регистрация</button></div>
    <div  class="interval"></div>

  </form>
  <form action="/login" class="form-ot">
    <div class="form-floating"><input class="btn-non" type="submit" value="Авторизация"></div>
  </form>

</div>
{% endblock %}